{
  "plugins": ["react"],
  "extends": ["airbnb"],
  "parser": "babel-eslint",

  "rules": {
    "comma-dangle": ["error", "never"],
    "no-underscore-dangle": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off"
  }
}
